{{ define "home" }}
{{ template "header" "Home" }}
  <h1>Welcome to WikiWAT!</h1>
  <div>
    <p>The wiki where nothing is forever, everything is never, and never is always.</p>
    <p>Here's how it works:</p>
    <ol>
      <li>Think of something you want to write about.</li>
      <li>Navigate to localhost:8080/view/ThatThing.</li>
      <li>Either see what others have written and edit it, or create a new wiki page right there!</li>
    </ol>
    <p>Keep in mind that anyone, anywhere, can edit your page with no accountability.</p>
{{ template "footer" }}
{{ end }}