{{ define "view" }}
{{ template "header" .PageTitle }}
  <h1>{{.ThisPage.Title}}</h1>

  <p id="edit-link">[<a href="/edit/{{.ThisPage.Title}}">edit</a>]</p>

  <div id="edit-form" class="hide">
    <p>[<a href="/page/{{.ThisPage.Title}}">cancel</a>]</p>

    <form action="/save/{{.ThisPage.Title}}" method="POST">
      <div class="form-group"><textarea name="body" class="form-control" rows="10">{{.ThisPage.Body}}</textarea></div>
      <input class="btn btn-default pull-right" type="submit" value="Save">
    </form>
  <br></div>

  <div>{{.DisplayBody}}</div>

  <br><p>First created: {{.ThisPage.FormattedCreate}} &mdash; Last updated: {{.ThisPage.FormattedUpdate}}</p>
{{ template "footer" }}
{{ end }}